{% extends "master.html" %}
{% load sniplates i18n %}
{% spaceless %}

    {% block content %}
        <article class="article" role="article">
            <div class="article__section">
                <h1>{% trans "Register client" %}</h1>

                {% if request.session.client_id %}
                    <p>{% trans "Please find your newly created credentials below." %}</p>

                    <table class="table">
                        {% trans "Client ID" as translation_client_id %}
                        {% include 'components/table/row-key-value.html' with key=translation_client_id value=request.session.client_id only %}
                        {% trans "Secret" as translation_secret %}
                        {% include 'components/table/row-key-value.html' with key=translation_secret value=request.session.secret only %}
                    </table>

                    {% if request.session.credentials.items %}
                        <h2>{% trans "HTTP headers to include with the request" %}</h2>
                        {% include 'components/table/table-credentials.html' with request=request only%}
                    {% endif %}

                {% else %}
                    <p>{% blocktrans trimmed %}
                        Registering your client here will give you a client ID and secret,
                        and ensure you can use the same ID and secret in all services.
                    {% endblocktrans %}</p>

                    {% load_widgets form='forms.html' %}
                    <form class="form" action="." method="post">
                        {% csrf_token %}
                        {% form_field form.label %}
                        {% form_field form.prefix %}
                        {% form_field form.superuser %}

                        <div>
                            {% widget 'form:submit-btn' %}
                        </div>
                    </form>
                {% endif %}

            </div>
        </article>

        {% include 'components/sidebar/sidebar.html' %}
    {% endblock content %}
{% endspaceless %}
