{% extends "master.html" %}
{% load sniplates i18n %}
{% spaceless %}
    {% block body-class %}generate-jwt{% endblock %}


    {% block content %}
        {% load_widgets form='forms.html' %}

        <article class="article" role="article">
            <section class="article__section">
                <h1>{% trans "Generate a ZDS JWT" %}</h1>

                {% if request.session.credentials.items %}
                    <h2>{% trans "HTTP headers to include with the request" %}</h2>
                    <table class="table">
                        {% for key, value in request.session.credentials.items %}
                            <tr class="table__row">
                                <th class="table__heading">{{ key }}</th>
                                <td class="table__cell">{{ value }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}

                <h2>{% trans "Cliënt gegevens" %}</h2>
                <form class="form" action="." method="post">
                    {% csrf_token %}

                    {% for field in form %}
                        {% form_field field %}
                    {% endfor %}

                    {% widget 'form:submit-btn' %}
                </form>
            </section>
        </article>
    {% endblock content %}
{% endspaceless %}
