{% extends "master.html" %}
{% load sniplates i18n %}
{% spaceless %}
    {% block body-class %}generate-jwt{% endblock %}


    {% block content %}
        {% load_widgets form='forms.html' %}

        <article class="article" role="article">
            <section class="article__section" id="new-authorization">
                <a href="#existing-authorizations"><strong>{% trans "Naar bestaande autorisaties" %}</strong></a>
                <h1>{% trans "Set application authorizations" %}</h1>
                <p>
                    Het autorisatiemechanisme staat uitgebreid <a href="https://zaakgerichtwerken.vng.cloud/themas/achtergronddocumentatie/authenticatie-autorisatie">gedocumenteerd</a> &mdash;
                    In een notendop komt het erop neer dat je per component de scopes moet aangeven.
                </p>

                {% if request.session.client_id %}

                    <form class="form" action="." method="post">
                        {% csrf_token %}
                        <input type="hidden" name="superuser">
                        <input type="hidden" name="client_id" value="{{ request.session.client_id }}">
                        {% widget 'form:submit-btn' text=_("Too complicated, make me superuser") %}
                    </form>

                {% endif %}

                <p>
                    Per component zijn een aantal velden verplicht:
                </p>

                <ul>
                    <li><strong>ZRC</strong>: zaaktype en vertrouwelijkheidsaanduiding</li>
                    <li><strong>DRC</strong>: informatieobjecttype en vertrouwelijkheidsaanduiding</li>
                    <li><strong>BRC</strong>: besluittype</li>
                </ul>

                <h2>{% trans "Nieuwe autorisatie" %}</h2>
                <form class="form set-auth" action="." method="post">
                    {% csrf_token %}

                    {{ form.errors }}

                    {% for field in form %}
                        {% form_field field %}
                    {% endfor %}

                    {% widget 'form:submit-btn' text=_("Add authorization") %}
                </form>
            </section>

            <section class="article__section" id="existing-authorizations">
                <h2>{% trans "Bestaande autorisaties" %}</h2>

                {% for authorization in authorizations %}
                    {% include "services/includes/authorization.html" with authorization=authorization only %}
                {% empty %}
                    <p>Geen bestaande autorisaties gevonden</p>
                {% endfor %}
            </section>
        </article>
    {% endblock content %}
{% endspaceless %}
