{% extends "master.html" %}
{% load sniplates i18n %}
{% spaceless %}
    {% block body-class %}generate-jwt{% endblock %}


    {% block content %}
        {% load_widgets form='forms.html' %}

        <article class="article" role="article">
            <section class="article__section" id="new-authorization">
                <a href="#existing-authorizations"><strong>{% trans "Naar bestaande autorisaties" %}</strong></a>
                <h1>{% trans "Set application authorizations" %}</h1>
                <h2>{% trans "Nieuwe autorisatie" %}</h2>
                <form class="form set-auth" action="." method="post">
                    {% csrf_token %}

                    {% for field in form %}
                        {% form_field field %}
                    {% endfor %}

                    {% widget 'form:submit-btn' text=_("Add authorization") %}
                </form>
            </section>

            <section class="article__section" id="existing-authorizations">
                <h2>{% trans "Bestaande autorisaties" %}</h2>

                {% for authorization in authorizations %}
                    {% include "services/includes/authorization.html" with authorization=authorization only %}
                {% empty %}
                    <p>Geen bestaande autorisaties gevonden</p>
                {% endfor %}
            </section>
        </article>
    {% endblock content %}
{% endspaceless %}
