@import '../../lib/color';
@import '../../lib/grid';
@import '../../lib/typography';

$article-color-background: $color-white;

.article {
  @include columns-responsive(12, 8, 8, 8);
  position: relative;

  &:last-child {
    @include responsive(width, 100%, 100%, 100%, 100%);
  }

  &__section {
    @include gutter(padding);
    @include gutter(margin-bottom);
    @include wysiwyg;
    background-color: $article-color-background;

    &:last-child {
      @include omega(true, margin-bottom);
    }
  }
}
